body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

img {
    max-width: 100%;
    max-height: 500px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;

}

.header p {
    font-size: 20px;
    font-weight: 700;
}

button {
    padding: 10px;
    border-radius: 3px;
    border: 0px;
    color: white;
    background-color: #3882f6;
}

button:hover {
    border-radius: 0px;
}

.first-row {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    gap: 50px;
}

.first-row img {
    justify-items: center;
    border-radius: 3px;
}

.right-column {
    display: flex;
    justify-content: center;
    min-width: 400px;
}

.first-row p {
    font-size: 18px;
    color: white;
}

.row, .header {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-container {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards-row {
    flex-direction: column;
    text-align: center;
}

.card img {
    border: 2px solid #3882f6;
    border-radius: 10px;
    max-height: 200px;
}

.card {
    margin: 1rem;
    width: 10rem;
}

.left-column, .right-column {
    flex: 1;
}
.left-column {
    flex-shrink: 0;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quote-row {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
    text-align: center;
}

.subtext {
text-align: end;
font-weight: 800;
}

.cta-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta {
    background-color: #3882f6;
    color: white;
    border-radius: 3px;
    padding: 20px 50px;
    display: flex;
    width: 50%;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
}

.cta button {
    border: 2px white solid;
}
